   .homePage {
    background-image: url(../images/photo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

  #welcomeBox {
    max-height: 300px;
    max-width: 550px;
    background-color: #fff;
    border: 1px solid #e3f2fd;
    padding: 35px 35px 35px 35px;
    margin-left: 5vw;
    margin-top: 10vh;
    opacity: 0.7;
    border-radius: 10px;
    font-weight: bold;
  }


  .aboutPage{
    background-image: url(../images/photo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about{
    width: 100vw;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #e3f2fd;
    padding: 40px 40px 40px 40px;
    opacity: 0.7;
    font-weight: bold;
    margin-top: 0vh;
  }

  .servicesPage{
    background-image: url(../images/photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .services{
    width: 100vw;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #e3f2fd;
    padding: 40px 40px 40px 40px;
    opacity: 0.7;
    font-weight: bold;
    margin-top: 0vh;
  }

  .contactPage{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fefdfb;
  }

  #map{
    width: 30vw;
    height: 30vh;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 10vh;
    border: 0.5px solid #e3f2fd;
    border-radius: 10px;
  }

  .contactDeets{
    width: 30vw;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 5vh;

  }

 html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #e3f2fd;
    opacity: 0.7;
}

/*.twitter-follow-button{
  margin-top: 2vh;
  margin-left: 30vw;
}*/
