   .homePage {
    background-image: url(../images/photo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

  #welcomeBox {
    max-height: 300px;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid-black;
    padding: 20px 20px 20px 20px;
    margin-left: 5vw;
    margin-top: 10vh;
    opacity: 0.7;
    border-radius: 10px;
    font-weight: bold;
  }


  .aboutPage{
    background-image: url(../images/photo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about{
    width: 100vw;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid-black;
    padding: 40px 40px 40px 40px;
    opacity: 0.7;
    font-weight: bold;
  }

  .servicesPage{
    background-image: url(../images/photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contactPage{
     background-repeat: no-repeat;
    background-size: cover;
    background-color: #fefdfb;
  }



